
<div class="container profile">
	<div class="">
			<h1 class = ""><%=@user.name.split[0]%>'s Profile</h1>
			</div>
	<div class = "row">

		<div class = "col col-md-4 col-md-offset-4">
			
			Name: 		<%= @user.name%><br>
			Email:  	<%= @user.email%>
		</div>
	</div>
</div>

